*{
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 500;
    color: hsl(278, 68%, 11%);
    
  }
    body{
      margin: 0;
      padding: 0;
      background-image: url(/bg-main-desktop.png);
      background-repeat: no-repeat;
      background-size: 33% 100vh;
      font-family: Space Grotesk;
      font-size: 18px;
      font-weight: 500;
    }
    
    
  
    .cardfront{
      
      margin: 100px 0 0 130px;
      width: 400px;
      height: 210px;
      background-image: url(/bg-card-front.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      
    }
  
    #card-logo{
      padding: 30px 0 0 30px;
      margin-bottom: 0;
      
    }
      .cardnum{
        text-align: center;
        font-size: 23px;
        font-family: Space Grotesk;
        color: hsl(0, 0%, 100%);
        letter-spacing: 5px;
        margin: 30px 0 0 0;
        
      }
    
    .card-details{
      display: flex;
      justify-content: space-between;
      
      margin-bottom: 190px;  
    }
  
    .cardowner, .exp-date, #mo, #yr{
      color: hsl(0, 0%, 100%);
      
    }
  
    .cardowner{
      padding-left: 30px;
      font-size: 18px
    }
  
    .exp-date{
      padding-right: 30px;
    }
  
    .card-back{
      background-image: url(/bg-card-back.png);
      width: 400px;
      height: 210px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 40px 0 0 220px;
    }
  
    .cvc{
      color: hsl(0, 0%, 100%);
      padding: 91.5px 0 0 320px;
    }
  
    form{
      min-width: 40%;
      padding: 0;
      height: auto;
      position: absolute;
      margin: 0 0 0 55%;
      
      top: 50%;
      transform: translateY(-50%);
  
  
    }
  
    
  label{
    display: block;
    
  }
  
  input{ 
    margin: 5px 0 35px 0;
    padding-left: 30px;
    height: 35px;
    width: 350px;
    font-size: 18px;
    font-family: Space Grotesk;
    border-radius: 5px;
    letter-spacing: 5px;
    border: 1px solid hsl(270, 3%, 87%);
  }
  
  #cardholder{
    text-transform: capitalize;
  }
  
  #cardnumber{
    margin-bottom: 0;
    letter-spacing: 6px;
  }
  
  .cardnumber-error{
    margin:10px 0 25px 0;
    font-size: 14px;
    color: hsl(0, 100%, 66%);
  
  }
  input::placeholder{
    
    font-family: Space Grotesk;
    font-size: 18px;
    color: hsl(270, 3%, 87%)
  }
  
  input:focus{
    border: 1px solid hsl(278, 94%, 30%);
    outline: none;
  }
  
  
  
  button{
    font-family: Space Grotesk;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    width: 380px;
    height: 40px;
    background-color: hsl(278, 68%, 11%);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  button:hover{
    cursor: pointer;
  }
  
  #year, #month{
    width: 70px;
    margin-right: 5px;
  }
  
  #cvc-num{
    width: 105px;
    
  }
  .cvc-num{
    margin-left: 20px;
    
  }
  
  .confidential{
   display: flex;
   ;
  }
  
  
  .date-error{
    font-size: 14px;
    color: hsl(0, 100%, 66%);
    margin: -25px 0 0 0;
    width: 120px;
    
  }
  
  .date-cvc-errors{
    display: flex;
    
    
  }
  
  
  .cvc-error{
    color: hsl(0, 100%, 66%);
    font-size: 14px;
    margin: -25px 0 15px 122px;
    width: 120px
  }